.intro
{
    color: black;
    font-family: 'Brush Script MT';
    font-size: 50px;

}

.pelican {
    width: 100px;
}

.buttons {
    padding: 15px 25px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
