.button {
    float: left;
    margin-top: 425px;
    margin-bottom: 0px;
}

.button-container {
    position: relative;
    margin-top: 425px;
    margin-bottom: 0px;
}

.button button {
    background-color: transparent;
    color: transparent;
    border: 0px;
    border-width: 0px;
    display: inline-block;
    padding: 7px 1px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.button button:hover {
    transform: translate(0, -50px);
}



