body {
    background-color: #F1F1E5;
  }


.vote_button_pro
{
/* Ellipse 18 */

box-sizing: border-box;
border-radius: 50%;

position: relative;
width: 179px;
height: 183px;
left: 291px;
top: 232px;

background: linear-gradient(180deg, #FF3737 35.06%, rgba(255, 55, 55, 0) 35.07%), linear-gradient(180deg, #FFFFFF 66.51%, rgba(255, 255, 255, 0) 66.52%), #044389;
border: 1px solid #000000;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.vote_button_pro:hover {
    transform: scale(3.8); /* Scale the circle on hover */
    background: #FF3737;
    z-index: 1; 
}

.text_pro
{
/* Pros */

width: 160px;
height: 65px;
left: 291px;
top: 300px;

font-family: 'Koulen';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 65px;
text-align: center;

color: #FF3737;
}

.vote_button_pro:hover .text_pro {
    opacity: 0; /* Hide the text on hover */
}

.vote_button_con
{
/* Ellipse 20 */

box-sizing: border-box;
border-radius: 50%;

position: relative;
width: 179px;
height: 183px;
left: 809px;
top: 232px;

background: linear-gradient(180deg, #FF3737 35.06%, rgba(255, 55, 55, 0) 35.07%), linear-gradient(180deg, #FFFFFF 66.51%, rgba(255, 255, 255, 0) 66.52%), #044389;
border: 1px solid #000000;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.vote_button_con:hover {
    transform: scale(3.8); /* Scale the circle on hover */
    background: #FFFFFF;
    z-index: 1; 
}

.vote_button_con:hover .text_con {
    opacity: 0; /* Hide the text on hover */
}

.text_con
{
 /* Cons */

width: 160px;
height: 72px;
left: 769px;
top: 294px;

font-family: 'Koulen';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 65px;
text-align: center;

color: #FF3737;

}

.vote_button_info
{
/* Ellipse 16 */

box-sizing: border-box;
border-radius: 50%;

position: absolute;
width: 179px;
height: 183px;
left: 650px;
top: 200px;

background: linear-gradient(180deg, #FF3737 35.06%, rgba(255, 55, 55, 0) 35.07%), linear-gradient(180deg, #FFFFFF 66.51%, rgba(255, 255, 255, 0) 66.52%), #044389;
border: 1px solid #000000;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.vote_button_info:hover
{
    transform: scale(3.8); /* Scale the circle on hover */
    background: #044389;
    z-index: 1; 
}

.text_info_points
{
/* Points */
width: 160px;
height: 80px; 
left: 690px;
top: 210px;


font-family: 'Koulen';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 65px;
text-align: center;

color: #FF3737;

}

.text_info_main
{
    /* Main */


width: 160px;
height: 57px;
left: 650px;
top: 211px;

font-family: 'Koulen';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 65px;
text-align: center;

color: #FFFFFF;
}

.vote_button_info:hover .text_info_main {
    opacity: 0; /* Hide the text on hover */
}

.vote_button_info:hover .text_info_points {
    opacity: 0; /* Hide the text on hover */
}

.koulen-regular {
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }



.bill 
{
/* 5b940cd2-00ec-4717-a7fc-e056ff3c8000 2 */

position: relative;
width: 400px;
height: 400px;
left: -150px;
top: 50px;
z-index: 1; 
}

.vote_button_info:hover .text_info_list
{
position: relative;
font-family: 'Koulen';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
text-align: center;

opacity: 1;
    
color: #FFFFFF;
z-index: 10000; 

}

.vote_button_pro:hover .text_pro_list
{
    position: relative;
font-family: 'Koulen';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
text-align: center;

opacity: 1;

color: #044389;
}

.vote_button_con:hover .text_con_list
{
    position: relative;
    font-family: 'Koulen';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;

opacity: 1;

color: #044389;
}

.text_con_list
{
    opacity: 0;
}
.text_pro_list
{
    opacity: 0;
}
.text_info_list
{
    opacity: 0;
}


.vote_button_info:hover .bill {
    transform: translateY(20px); /* Move the image down by 20 pixels on hover */
}

.title_nav
{
width: 250px;
height: 57px;
left: 600px;
top: 60px;

position: relative;
font-family: 'Koulen';
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 12px;
text-align: center;

opacity: 1;

color: #044389;
}






