        .whole-body{
            background-color: white;
        }
        .scriptButton{
            display: inline-block;
            font-family: 'Poppins', sans-serif;
            text-transform: lowercase;
            color: black;
            background-color: white;
            margin-right: 5px;

            padding: 5px 10px;
            border: none;
            border-radius: 10px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }
        .script-return{
            position: absolute;
            top: 100%;
            left: 0;
            padding: px;
            width: 90%;
            height: 80%;
            background-color: #f1f1e5;   
        }
        .opener {
            font-family: 'Protest Strike', sans-serif;
            font-size: x-large;
            color:#ffffff;
            -webkit-text-stroke: 1px #e5aa92;
        }

        .dropdown {
            float:right;
        }

        .personalInfo {
            float:left;
        }
        .contents {
            padding-right:50px;
            padding-left: 50px;
            width: 90%;
            height: 80%;
            background-color: #f1f1e5;
            position:relative;
        }
        .whole-body{
            overflow:hidden;
            background-color: #f9d7c1;
        }

        .dropbtn {
            background-color: #e5aa92;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        /* Style the dropdown content (hidden by default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9d7c1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            font-family: 'Poppins', sans-serif;

        }

        /* Style the dropdown links */
        .dropdown-content a {
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            font-family: 'Poppins', sans-serif;
        }

        /* Change color on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }